cfs entry for: _13.fld
doc 0
  field 0
    name titolo
    type string
    value Ritorno al futuro
  field 1
    name contenuto
    type string
    value Ritorno al futuro" (in inglese "Back to the Future") è un famoso film\
 di fantascienza: diretto da Robert Zemeckis e scritto da Robert Zemeckis e Bob Gale.\
 Il film è stato distribuito per la prima volta nel 1985 ed è diventato un classico del cinema. \
 La trama del film è incentrata sul viaggio nel tempo e su un adolescente di nome Marty McFly, \
interpretato da Michael J. Fox, e il suo eccentrico amico dottor Emmett "Doc" Brown, interpretato da Christopher Lloyd. \
\
\
Il film parla di Marty McFly, un normale adolescente che fa amicizia con il suo eccentrico vicino, \
il dottor Emmett Brown. Doc Brown ha creato una macchina del tempo su base DeLorean, che funziona grazie \
a una sorgente di energia chiamata plutonio. Per una serie di vicessitudini Marty si ritroverà accidentalmente nel 1955. \
Inseguito da criminali cercherà di tornare indietro nel suo tempo per evitare che un evento possa cambiare il corso della storia. \
Inoltre, imbattendosi nella versione più giovane dei suoi genitori, con mille peripezie, dovrà assicurarsi che i loro genitori \
si innamorino per garantire la loro esistenza futura.\
\
Il film è noto per la sua miscela di commedia, avventura e fantascienza, nonché per due iconici oggetti:il primo, \
la famosa macchina del tempo DeLorean utilizzata per il viaggio nel tempo e il secondo, le celebri Nike Air Mag \
indossate da Marty McFly, scarpe con un sistema di auto-allacciamento del futuro che sono diventate \
sneaker di culto tra gli appassionati (uscite davvero nel 2016). "Ritorno al futuro" ha avuto due seguiti \
("Ritorno al futuro - Parte II" e "Ritorno al futuro - Parte III") e ha avuto un grande impatto \
sulla cultura popolare. È amato per il suo umorismo intelligente, i personaggi memorabili e la storia \
coinvolgente che esplora i paradossi temporali.
doc 1
  field 0
    name titolo
    type string
    value Viaggi nel tempo-ritornare al passato o andare nel futuro
  field 1
    name contenuto
    type string
    value Il concetto di viaggio nel tempo è un tema affascinante e ricorrente nella letteratura \
e nella narrativa scientifica. Tuttavia, è importante sottolineare che al momento attuale, il viaggio nel tempo, \
nel senso tradizionale in cui spesso viene rappresentato nei film e nella fantascienza, rimane una speculazione \
teorica e non è stato dimostrato scientificamente. Inoltre, il viaggio nel tempo potrebbe comportare problemi teorici, \
come il "paradosso del nonno", che mettono in dubbio la sua fattibilità.\
\
Ecco alcune considerazioni sul viaggio nel tempo nel passato e nel futuro:\
\
viaggio nel passato: Il concetto di viaggio nel passato solleva questioni complesse. \
Se fosse possibile tornare indietro nel tempo ed influenzare eventi passati, ciò  potrebbe portare a contraddizioni \
e a paradossi, come il "paradosso del nonno", in cui si potrebbe impedire la propria esistenza stessa. \
Tali problemi rendono il viaggio nel passato una questione teorica complicata.\
\
viaggio nel futuro: Sebbene il viaggio nel futuro sia anch'esso un concetto speculativo, \
è meno soggetto ai problemi del paradosso rispetto al viaggio nel passato. La teoria della relatività di Einstein \
suggerisce che il viaggio nel futuro è possibile in alcune circostanze. Ad esempio, viaggiare a velocità prossime \
a quella della luce o vicino a oggetti con forti campi gravitazionali potrebbe far scorrere il tempo in modo diverso \
per l'osservatore in movimento, consentendo un "viaggio" nel futuro.\
\
In sintesi, il viaggio nel tempo è principalmente un argomento di speculazione teorica e narrativa piuttosto \
che una realtà scientifica. Sebbene sia un argomento affascinante, rimane al di fuori delle possibilità pratiche \
dell'attuale comprensione scientifica. Le teorie e le rappresentazioni del viaggio nel tempo sono spesso utilizzate \
come dispositivi narrativi nella letteratura, nel cinema come in "Ritorno al Futuro" e nella fantascienza, per esplorare \
temi intriganti e complessi legati al tempo, al destino e alla causalità
doc 2
  field 0
    name titolo
    type string
    value Le sneakers più costose di sempre su StockX
  field 1
    name contenuto
    type string
    value StockX è una piattaforma di e-commerce specializzata nella compravendita di sneakers (scarpe da ginnastica), streetwear, \
borse, orologi e altri articoli di moda e lifestyle. Fondata nel 2015 a Detroit, Michigan, StockX ha guadagnato popolarità \
come uno dei principali mercati online per articoli di moda di alta qualità e di edizione limitata. Per tali motivi per alcuni pezzi i prezzi possono essere davvero elevati. \
\
Ecco alcune delle sneaker più costose su StockX in questo momento:\
\
Nike Air Mag Back to the Future (2016)\
Prezzo Medio: $41.429\
Cinque anni dopo la vendita all’asta della prima serie delle celebri Nike Air Mag, Nike ha trasformato la funzionalità vista sul \
grande schermo in una realtà di design grazie a Nike Adapt, l’innovativa tecnologia di allacciatura automatica. \
L’idea di una Nike con sistema di auto-allacciamento si è vista per la prima volta in Ritorno al Futuro II, e con \
questa tecnologia finalmente a disposizione i fortunati che riuscirono a vincere la raffle ne ottennero un paio ancora \
più simile a quello indossato nel film da Marty McFly indosso .\
\
Nike SB Dunk Low Staple Pigeon NYC\
Prezzo Medio: $33.400\
Probabilmente la release che ha esposto il mondo all’isteria per il modello Nike SB Dunk, la Nike SB Dunk Low Staple Pigeon NYC di Jeff Staple \
era ed è ancora una delle sneakers più costose al mondo. La folla si accalcava fuori dal Reed Space di New York per ottenerne un \
paio nel 2005, quando il valore di rivendita delle Dunk era di poche migliaia di dollari. È impossibile immaginare cosa avrebbe \
fatto quella folla se avesse conosciuto in anticipo il prezzo che le Pigeon avrebbero raggiunto sedici anni più tardi.\
\
Nike SB Dunk Low Yellow Lobster\
Prezzo Medio: $30.453\
Nel luglio del 2009 si diffuse la notizia che un pescatore aveva catturato una rarissima aragosta gialla (proabbailità=1/1000000). \
Come risposta a questo evento speciale, Nike SB e Concepts, famosa boutique di Boston, hanno regalato 36 paia di \
Nike SB Dunk Low Yellow Lobster ad amici e familiari appena prima della release delle Nike SC Dunk Low Blue Lobster.\
\
\
\
\
\

END
checksum 00000000002383439400
cfs entry for: _13.inf
number of fields 2
  name titolo
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name contenuto
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000001012915120
cfs entry for: _13.len
field titolo
  type NUMERIC
  minvalue 3
  pattern 0
0
T
6
T
5
T
field contenuto
  type NUMERIC
  minvalue 66
  pattern 0
0
T
0
T
4
T
END
checksum 00000000001813630219
cfs entry for: _13.pst
field contenuto
  term 1
    doc 2
      freq 1
      pos 303
  term 1000000
    doc 2
      freq 1
      pos 304
  term 1955
    doc 0
      freq 1
      pos 133
  term 1985
    doc 0
      freq 1
      pos 37
  term 2005
    doc 2
      freq 1
      pos 238
  term 2009
    doc 2
      freq 1
      pos 288
  term 2015
    doc 2
      freq 1
      pos 27
  term 2016
    doc 0
      freq 1
      pos 245
    doc 2
      freq 1
      pos 82
  term 30.453
    doc 2
      freq 1
      pos 284
  term 33.400
    doc 2
      freq 1
      pos 184
  term 36
    doc 2
      freq 1
      pos 321
  term 41.429
    doc 2
      freq 1
      pos 85
  term accalcava
    doc 2
      freq 1
      pos 225
  term accidentalmente
    doc 0
      freq 1
      pos 131
  term ad
    doc 1
      freq 1
      pos 184
    doc 2
      freq 1
      pos 330
  term adapt
    doc 2
      freq 1
      pos 117
  term adolescente
    doc 0
      freq 2
      pos 58
      pos 89
  term affascinante
    doc 1
      freq 2
      pos 9
      pos 243
  term air
    doc 0
      freq 1
      pos 218
    doc 2
      freq 2
      pos 76
      pos 98
  term alcune
    doc 1
      freq 2
      pos 75
      pos 182
    doc 2
      freq 1
      pos 65
  term alcuni
    doc 2
      freq 1
      pos 56
  term alla
    doc 1
      freq 1
      pos 293
  term allacciamento
    doc 0
      freq 1
      pos 230
    doc 2
      freq 1
      pos 131
  term allacciatura
    doc 2
      freq 1
      pos 121
  term all’asta
    doc 2
      freq 1
      pos 91
  term all’isteria
    doc 2
      freq 1
      pos 193
  term alta
    doc 2
      freq 1
      pos 46
  term altri
    doc 2
      freq 1
      pos 19
  term amato
    doc 0
      freq 1
      pos 274
  term amici
    doc 2
      freq 1
      pos 331
  term amicizia
    doc 0
      freq 1
      pos 92
  term amico
    doc 0
      freq 1
      pos 72
  term anch'esso
    doc 1
      freq 1
      pos 151
  term ancora
    doc 2
      freq 2
      pos 163
      pos 214
  term anni
    doc 2
      freq 2
      pos 87
      pos 273
  term anticipo
    doc 2
      freq 1
      pos 264
  term appassionati
    doc 0
      freq 1
      pos 241
  term appena
    doc 2
      freq 1
      pos 334
  term aragosta
    doc 2
      freq 1
      pos 300
  term argomento
    doc 1
      freq 2
      pos 228
      pos 242
  term articoli
    doc 2
      freq 2
      pos 20
      pos 42
  term assicurarsi
    doc 0
      freq 1
      pos 168
  term attuale
    doc 1
      freq 1
      pos 25
  term auto
    doc 0
      freq 1
      pos 229
    doc 2
      freq 1
      pos 130
  term automatica
    doc 2
      freq 1
      pos 122
  term avesse
    doc 2
      freq 1
      pos 261
  term aveva
    doc 2
      freq 1
      pos 296
  term avrebbe
    doc 2
      freq 1
      pos 256
  term avrebbero
    doc 2
      freq 1
      pos 270
  term avuto
    doc 0
      freq 2
      pos 250
      pos 266
  term avventura
    doc 0
      freq 1
      pos 191
  term back
    doc 0
      freq 1
      pos 5
    doc 2
      freq 1
      pos 78
  term base
    doc 0
      freq 1
      pos 111
  term blue
    doc 2
      freq 1
      pos 343
  term bob
    doc 0
      freq 1
      pos 25
  term borse
    doc 2
      freq 1
      pos 16
  term boston
    doc 2
      freq 1
      pos 318
  term boutique
    doc 2
      freq 1
      pos 316
  term brown
    doc 0
      freq 3
      pos 76
      pos 101
      pos 103
  term cambiare
    doc 0
      freq 1
      pos 150
  term campi
    doc 1
      freq 1
      pos 200
  term catturato
    doc 2
      freq 1
      pos 297
  term causalità
    doc 1
      freq 1
      pos 294
  term celebri
    doc 0
      freq 1
      pos 216
    doc 2
      freq 1
      pos 96
  term cercherà
    doc 0
      freq 1
      pos 137
  term chiamata
    doc 0
      freq 1
      pos 121
  term christopher
    doc 0
      freq 1
      pos 79
  term cinema
    doc 0
      freq 1
      pos 44
    doc 1
      freq 1
      pos 272
  term cinque
    doc 2
      freq 1
      pos 86
  term circostanze
    doc 1
      freq 1
      pos 183
  term ciò
    doc 1
      freq 1
      pos 109
  term classico
    doc 0
      freq 1
      pos 42
  term coinvolgente
    doc 0
      freq 1
      pos 286
  term come
    doc 1
      freq 4
      pos 62
      pos 117
      pos 266
      pos 273
    doc 2
      freq 2
      pos 35
      pos 305
  term commedia
    doc 0
      freq 1
      pos 190
  term commerce
    doc 2
      freq 1
      pos 6
  term complesse
    doc 1
      freq 1
      pos 97
  term complessi
    doc 1
      freq 1
      pos 286
  term complicata
    doc 1
      freq 1
      pos 141
  term comportare
    doc 1
      freq 1
      pos 59
  term compravendita
    doc 2
      freq 1
      pos 9
  term comprensione
    doc 1
      freq 1
      pos 252
  term concepts
    doc 2
      freq 1
      pos 314
  term concetto
    doc 1
      freq 3
      pos 1
      pos 90
      pos 153
  term conosciuto
    doc 2
      freq 1
      pos 262
  term consentendo
    doc 1
      freq 1
      pos 214
  term considerazioni
    doc 1
      freq 1
      pos 76
  term contraddizioni
    doc 1
      freq 1
      pos 113
  term corso
    doc 0
      freq 1
      pos 152
  term cosa
    doc 2
      freq 1
      pos 255
  term costose
    doc 2
      freq 2
      pos 69
      pos 219
  term creato
    doc 0
      freq 1
      pos 105
  term criminali
    doc 0
      freq 1
      pos 136
  term cui
    doc 1
      freq 2
      pos 34
      pos 123
  term culto
    doc 0
      freq 1
      pos 238
  term cultura
    doc 0
      freq 1
      pos 271
  term dal
    doc 2
      freq 1
      pos 227
  term davvero
    doc 0
      freq 1
      pos 243
    doc 2
      freq 1
      pos 62
  term dei
    doc 0
      freq 1
      pos 161
    doc 2
      freq 1
      pos 37
  term dell'attuale
    doc 1
      freq 1
      pos 251
  term delle
    doc 1
      freq 1
      pos 248
    doc 2
      freq 5
      pos 66
      pos 95
      pos 216
      pos 244
      pos 338
  term delorean
    doc 0
      freq 2
      pos 112
      pos 205
  term design
    doc 2
      freq 1
      pos 113
  term destino
    doc 1
      freq 1
      pos 291
  term detroit
    doc 2
      freq 1
      pos 29
  term diffuse
    doc 2
      freq 1
      pos 290
  term dimostrato
    doc 1
      freq 1
      pos 51
  term diretto
    doc 0
      freq 1
      pos 15
  term dispositivi
    doc 1
      freq 1
      pos 267
  term disposizione
    doc 2
      freq 1
      pos 150
  term distribuito
    doc 0
      freq 1
      pos 31
  term diventate
    doc 0
      freq 1
      pos 235
  term diventato
    doc 0
      freq 1
      pos 40
  term diverso
    doc 1
      freq 1
      pos 209
  term doc
    doc 0
      freq 2
      pos 75
      pos 102
  term dollari
    doc 2
      freq 1
      pos 251
  term dopo
    doc 2
      freq 1
      pos 88
  term dottor
    doc 0
      freq 2
      pos 73
      pos 99
  term dovrà
    doc 0
      freq 1
      pos 167
  term dubbio
    doc 1
      freq 1
      pos 70
  term due
    doc 0
      freq 2
      pos 196
      pos 251
  term dunk
    doc 2
      freq 7
      pos 177
      pos 199
      pos 203
      pos 245
      pos 278
      pos 326
      pos 341
  term eccentrico
    doc 0
      freq 2
      pos 71
      pos 96
  term ecco
    doc 1
      freq 1
      pos 74
    doc 2
      freq 1
      pos 64
  term edizione
    doc 2
      freq 1
      pos 50
  term einstein
    doc 1
      freq 1
      pos 172
  term elevati
    doc 2
      freq 1
      pos 63
  term emmett
    doc 0
      freq 2
      pos 74
      pos 100
  term energia
    doc 0
      freq 1
      pos 120
  term era
    doc 2
      freq 2
      pos 211
      pos 246
  term esempio
    doc 1
      freq 1
      pos 185
  term esistenza
    doc 0
      freq 1
      pos 179
    doc 1
      freq 1
      pos 129
  term esplora
    doc 0
      freq 1
      pos 288
  term esplorare
    doc 1
      freq 1
      pos 282
  term esposto
    doc 2
      freq 1
      pos 190
  term essere
    doc 2
      freq 1
      pos 61
  term eventi
    doc 1
      freq 1
      pos 107
  term evento
    doc 0
      freq 1
      pos 148
    doc 2
      freq 1
      pos 309
  term evitare
    doc 0
      freq 1
      pos 145
  term fa
    doc 0
      freq 1
      pos 91
  term familiari
    doc 2
      freq 1
      pos 333
  term famosa
    doc 0
      freq 1
      pos 201
    doc 2
      freq 1
      pos 315
  term famoso
    doc 0
      freq 1
      pos 11
  term fantascienza
    doc 0
      freq 2
      pos 14
      pos 193
    doc 1
      freq 2
      pos 42
      pos 280
  term far
    doc 1
      freq 1
      pos 203
  term fattibilità
    doc 1
      freq 1
      pos 73
  term fatto
    doc 2
      freq 1
      pos 257
  term film
    doc 0
      freq 5
      pos 12
      pos 28
      pos 48
      pos 82
      pos 182
    doc 1
      freq 1
      pos 39
    doc 2
      freq 1
      pos 170
  term finalmente
    doc 2
      freq 1
      pos 148
  term folla
    doc 2
      freq 2
      pos 223
      pos 259
  term fondata
    doc 2
      freq 1
      pos 25
  term forti
    doc 1
      freq 1
      pos 199
  term fortunati
    doc 2
      freq 1
      pos 152
  term fosse
    doc 1
      freq 1
      pos 99
  term fox
    doc 0
      freq 1
      pos 67
  term funziona
    doc 0
      freq 1
      pos 114
  term funzionalità
    doc 2
      freq 1
      pos 104
  term fuori
    doc 1
      freq 1
      pos 247
    doc 2
      freq 1
      pos 226
  term futura
    doc 0
      freq 1
      pos 180
  term future
    doc 0
      freq 1
      pos 8
    doc 2
      freq 1
      pos 81
  term futuro
    doc 0
      freq 5
      pos 2
      pos 232
      pos 248
      pos 255
      pos 261
    doc 1
      freq 6
      pos 85
      pos 144
      pos 149
      pos 178
      pos 218
      pos 277
    doc 2
      freq 1
      pos 142
  term gale
    doc 0
      freq 1
      pos 26
  term garantire
    doc 0
      freq 1
      pos 176
  term genitori
    doc 0
      freq 2
      pos 163
      pos 172
  term gialla
    doc 2
      freq 1
      pos 301
  term ginnastica
    doc 2
      freq 1
      pos 14
  term giovane
    doc 0
      freq 1
      pos 160
  term grande
    doc 0
      freq 1
      pos 268
    doc 2
      freq 1
      pos 107
  term gravitazionali
    doc 1
      freq 1
      pos 201
  term grazie
    doc 0
      freq 1
      pos 115
    doc 2
      freq 1
      pos 114
  term guadagnato
    doc 2
      freq 1
      pos 33
  term ha
    doc 0
      freq 3
      pos 104
      pos 249
      pos 265
    doc 2
      freq 3
      pos 32
      pos 101
      pos 189
  term hanno
    doc 2
      freq 1
      pos 319
  term iconici
    doc 0
      freq 1
      pos 197
  term ii
    doc 0
      freq 1
      pos 257
    doc 2
      freq 1
      pos 143
  term iii
    doc 0
      freq 1
      pos 263
  term imbattendosi
    doc 0
      freq 1
      pos 156
  term immaginare
    doc 2
      freq 1
      pos 254
  term impatto
    doc 0
      freq 1
      pos 269
  term impedire
    doc 1
      freq 1
      pos 126
  term importante
    doc 1
      freq 1
      pos 20
  term impossibile
    doc 2
      freq 1
      pos 253
  term incentrata
    doc 0
      freq 1
      pos 50
  term indietro
    doc 0
      freq 1
      pos 140
    doc 1
      freq 1
      pos 102
  term indossate
    doc 0
      freq 1
      pos 220
  term indossato
    doc 2
      freq 1
      pos 168
  term indosso
    doc 2
      freq 1
      pos 174
  term influenzare
    doc 1
      freq 1
      pos 106
  term inglese
    doc 0
      freq 1
      pos 4
  term innamorino
    doc 0
      freq 1
      pos 174
  term inoltre
    doc 0
      freq 1
      pos 155
    doc 1
      freq 1
      pos 53
  term inseguito
    doc 0
      freq 1
      pos 134
  term intelligente
    doc 0
      freq 1
      pos 279
  term interpretato
    doc 0
      freq 2
      pos 63
      pos 77
  term intriganti
    doc 1
      freq 1
      pos 284
  term j
    doc 0
      freq 1
      pos 66
  term jeff
    doc 2
      freq 1
      pos 209
  term l'osservatore
    doc 1
      freq 1
      pos 211
  term legati
    doc 1
      freq 1
      pos 287
  term letteratura
    doc 1
      freq 2
      pos 13
      pos 270
  term lifestyle
    doc 2
      freq 1
      pos 24
  term limitata
    doc 2
      freq 1
      pos 51
  term lloyd
    doc 0
      freq 1
      pos 80
  term lobster
    doc 2
      freq 3
      pos 281
      pos 329
      pos 344
  term loro
    doc 0
      freq 2
      pos 171
      pos 178
  term low
    doc 2
      freq 5
      pos 178
      pos 204
      pos 279
      pos 327
      pos 342
  term luce
    doc 1
      freq 1
      pos 193
  term luglio
    doc 2
      freq 1
      pos 286
  term l’idea
    doc 2
      freq 1
      pos 123
  term l’innovativa
    doc 2
      freq 1
      pos 118
  term macchina
    doc 0
      freq 2
      pos 107
      pos 202
  term mag
    doc 0
      freq 1
      pos 219
    doc 2
      freq 2
      pos 77
      pos 99
  term marty
    doc 0
      freq 4
      pos 61
      pos 85
      pos 128
      pos 222
    doc 2
      freq 1
      pos 172
  term mcfly
    doc 0
      freq 3
      pos 62
      pos 86
      pos 223
    doc 2
      freq 1
      pos 173
  term medio
    doc 2
      freq 3
      pos 84
      pos 183
      pos 283
  term memorabili
    doc 0
      freq 1
      pos 282
  term meno
    doc 1
      freq 1
      pos 156
  term mercati
    doc 2
      freq 1
      pos 39
  term mettono
    doc 1
      freq 1
      pos 68
  term michael
    doc 0
      freq 1
      pos 65
  term michigan
    doc 2
      freq 1
      pos 30
  term migliaia
    doc 2
      freq 1
      pos 249
  term mille
    doc 0
      freq 1
      pos 165
  term miscela
    doc 0
      freq 1
      pos 188
  term moda
    doc 2
      freq 2
      pos 22
      pos 44
  term modello
    doc 2
      freq 1
      pos 196
  term modo
    doc 1
      freq 1
      pos 208
  term momento
    doc 1
      freq 1
      pos 24
    doc 2
      freq 1
      pos 74
  term mondo
    doc 2
      freq 2
      pos 192
      pos 221
  term motivi
    doc 2
      freq 1
      pos 54
  term movimento
    doc 1
      freq 1
      pos 213
  term narrativa
    doc 1
      freq 2
      pos 16
      pos 233
  term narrativi
    doc 1
      freq 1
      pos 268
  term ne
    doc 2
      freq 1
      pos 159
  term nei
    doc 1
      freq 1
      pos 38
  term nella
    doc 0
      freq 1
      pos 157
    doc 1
      freq 5
      pos 12
      pos 15
      pos 41
      pos 269
      pos 279
    doc 2
      freq 1
      pos 8
  term new
    doc 2
      freq 1
      pos 231
  term nike
    doc 0
      freq 1
      pos 217
    doc 2
      freq 12
      pos 75
      pos 97
      pos 100
      pos 116
      pos 126
      pos 175
      pos 197
      pos 201
      pos 276
      pos 311
      pos 324
      pos 339
  term nome
    doc 0
      freq 1
      pos 60
  term non
    doc 1
      freq 1
      pos 48
  term nonché
    doc 0
      freq 1
      pos 194
  term nonno
    doc 1
      freq 2
      pos 66
      pos 121
  term normale
    doc 0
      freq 1
      pos 88
  term notizia
    doc 2
      freq 1
      pos 292
  term noto
    doc 0
      freq 1
      pos 184
  term nyc
    doc 2
      freq 2
      pos 181
      pos 207
  term oggetti
    doc 1
      freq 1
      pos 197
  term oggetti:il
    doc 0
      freq 1
      pos 198
  term online
    doc 2
      freq 1
      pos 40
  term orologi
    doc 2
      freq 1
      pos 17
  term ottenerne
    doc 2
      freq 1
      pos 234
  term ottennero
    doc 2
      freq 1
      pos 160
  term paia
    doc 2
      freq 1
      pos 322
  term paio
    doc 2
      freq 2
      pos 162
      pos 236
  term paradossi
    doc 0
      freq 1
      pos 290
    doc 1
      freq 1
      pos 116
  term paradosso
    doc 1
      freq 3
      pos 64
      pos 119
      pos 161
  term parla
    doc 0
      freq 1
      pos 83
  term parte
    doc 0
      freq 2
      pos 256
      pos 262
  term passati
    doc 1
      freq 1
      pos 108
  term passato
    doc 1
      freq 5
      pos 82
      pos 88
      pos 94
      pos 137
      pos 166
  term peripezie
    doc 0
      freq 1
      pos 166
  term personaggi
    doc 0
      freq 1
      pos 281
  term pescatore
    doc 2
      freq 1
      pos 295
  term pezzi
    doc 2
      freq 1
      pos 57
  term piattaforma
    doc 2
      freq 1
      pos 3
  term pigeon
    doc 2
      freq 3
      pos 180
      pos 206
      pos 269
  term piuttosto
    doc 1
      freq 1
      pos 234
  term più
    doc 0
      freq 1
      pos 159
    doc 2
      freq 4
      pos 68
      pos 164
      pos 218
      pos 274
  term plutonio
    doc 0
      freq 1
      pos 122
  term poche
    doc 2
      freq 1
      pos 248
  term popolare
    doc 0
      freq 1
      pos 272
  term popolarità
    doc 2
      freq 1
      pos 34
  term portare
    doc 1
      freq 1
      pos 111
  term possa
    doc 0
      freq 1
      pos 149
  term possibile
    doc 1
      freq 2
      pos 100
      pos 180
  term possibilità
    doc 1
      freq 1
      pos 249
  term possono
    doc 2
      freq 1
      pos 60
  term potrebbe
    doc 1
      freq 4
      pos 58
      pos 110
      pos 125
      pos 202
  term pratiche
    doc 1
      freq 1
      pos 250
  term prezzi
    doc 2
      freq 1
      pos 59
  term prezzo
    doc 2
      freq 4
      pos 83
      pos 182
      pos 266
      pos 282
  term prima
    doc 0
      freq 1
      pos 34
    doc 2
      freq 3
      pos 93
      pos 137
      pos 335
  term primo
    doc 0
      freq 1
      pos 199
  term principali
    doc 2
      freq 1
      pos 38
  term principalmente
    doc 1
      freq 1
      pos 226
  term proabbailità
    doc 2
      freq 1
      pos 302
  term probabilmente
    doc 2
      freq 1
      pos 185
  term problemi
    doc 1
      freq 3
      pos 60
      pos 132
      pos 159
  term propria
    doc 1
      freq 1
      pos 128
  term prossime
    doc 1
      freq 1
      pos 189
  term qualità
    doc 2
      freq 1
      pos 47
  term quando
    doc 2
      freq 1
      pos 239
  term quella
    doc 1
      freq 1
      pos 191
    doc 2
      freq 1
      pos 258
  term questa
    doc 2
      freq 1
      pos 146
  term questione
    doc 1
      freq 1
      pos 139
  term questioni
    doc 1
      freq 1
      pos 96
  term questo
    doc 2
      freq 2
      pos 73
      pos 308
  term raffle
    doc 2
      freq 1
      pos 158
  term raggiunto
    doc 2
      freq 1
      pos 271
  term rappresentato
    doc 1
      freq 1
      pos 37
  term rappresentazioni
    doc 1
      freq 1
      pos 258
  term rarissima
    doc 2
      freq 1
      pos 299
  term realtà
    doc 1
      freq 1
      pos 237
    doc 2
      freq 1
      pos 111
  term reed
    doc 2
      freq 1
      pos 228
  term regalato
    doc 2
      freq 1
      pos 320
  term relatività
    doc 1
      freq 1
      pos 170
  term release
    doc 2
      freq 2
      pos 187
      pos 337
  term rendono
    doc 1
      freq 1
      pos 133
  term ricorrente
    doc 1
      freq 1
      pos 11
  term rimane
    doc 1
      freq 2
      pos 43
      pos 244
  term rispetto
    doc 1
      freq 1
      pos 162
  term risposta
    doc 2
      freq 1
      pos 306
  term ritorno
    doc 0
      freq 4
      pos 0
      pos 246
      pos 253
      pos 259
    doc 1
      freq 1
      pos 275
    doc 2
      freq 1
      pos 140
  term ritroverà
    doc 0
      freq 1
      pos 130
  term riuscirono
    doc 2
      freq 1
      pos 154
  term rivendita
    doc 2
      freq 1
      pos 243
  term robert
    doc 0
      freq 2
      pos 17
      pos 22
  term sb
    doc 2
      freq 6
      pos 176
      pos 198
      pos 202
      pos 277
      pos 312
      pos 325
  term sc
    doc 2
      freq 1
      pos 340
  term scarpe
    doc 0
      freq 1
      pos 224
    doc 2
      freq 1
      pos 12
  term schermo
    doc 2
      freq 1
      pos 108
  term scientifica
    doc 1
      freq 3
      pos 17
      pos 238
      pos 253
  term scientificamente
    doc 1
      freq 1
      pos 52
  term scorrere
    doc 1
      freq 1
      pos 204
  term scritto
    doc 0
      freq 1
      pos 20
  term se
    doc 1
      freq 1
      pos 98
    doc 2
      freq 1
      pos 260
  term sebbene
    doc 1
      freq 2
      pos 145
      pos 239
  term secondo
    doc 0
      freq 1
      pos 214
  term sedici
    doc 2
      freq 1
      pos 272
  term seguiti
    doc 0
      freq 1
      pos 252
  term senso
    doc 1
      freq 1
      pos 31
  term serie
    doc 0
      freq 1
      pos 125
    doc 2
      freq 1
      pos 94
  term si
    doc 0
      freq 2
      pos 129
      pos 173
    doc 1
      freq 1
      pos 124
    doc 2
      freq 3
      pos 132
      pos 224
      pos 289
  term sia
    doc 1
      freq 2
      pos 150
      pos 240
  term simile
    doc 2
      freq 1
      pos 165
  term sintesi
    doc 1
      freq 1
      pos 220
  term sistema
    doc 0
      freq 1
      pos 227
    doc 2
      freq 1
      pos 128
  term sneaker
    doc 0
      freq 1
      pos 236
    doc 2
      freq 1
      pos 67
  term sneakers
    doc 2
      freq 2
      pos 11
      pos 217
  term soggetto
    doc 1
      freq 1
      pos 157
  term solleva
    doc 1
      freq 1
      pos 95
  term sono
    doc 0
      freq 1
      pos 234
    doc 1
      freq 1
      pos 263
  term sorgente
    doc 0
      freq 1
      pos 118
  term sottolineare
    doc 1
      freq 1
      pos 21
  term space
    doc 2
      freq 1
      pos 229
  term speciale
    doc 2
      freq 1
      pos 310
  term specializzata
    doc 2
      freq 1
      pos 7
  term speculativo
    doc 1
      freq 1
      pos 154
  term speculazione
    doc 1
      freq 2
      pos 45
      pos 230
  term spesso
    doc 1
      freq 2
      pos 35
      pos 264
  term staple
    doc 2
      freq 3
      pos 179
      pos 205
      pos 210
  term stato
    doc 0
      freq 1
      pos 30
    doc 1
      freq 1
      pos 50
  term stessa
    doc 1
      freq 1
      pos 130
  term stockx
    doc 2
      freq 3
      pos 0
      pos 31
      pos 71
  term storia
    doc 0
      freq 2
      pos 154
      pos 285
  term streetwear
    doc 2
      freq 1
      pos 15
  term sua
    doc 0
      freq 1
      pos 187
    doc 1
      freq 1
      pos 72
  term suggerisce
    doc 1
      freq 1
      pos 173
  term sul
    doc 0
      freq 1
      pos 51
    doc 1
      freq 1
      pos 77
    doc 2
      freq 1
      pos 106
  term sulla
    doc 0
      freq 1
      pos 270
  term suo
    doc 0
      freq 4
      pos 70
      pos 95
      pos 142
      pos 277
  term suoi
    doc 0
      freq 1
      pos 162
  term tali
    doc 1
      freq 1
      pos 131
    doc 2
      freq 1
      pos 53
  term tardi
    doc 2
      freq 1
      pos 275
  term tecnologia
    doc 2
      freq 2
      pos 119
      pos 147
  term tema
    doc 1
      freq 1
      pos 8
  term temi
    doc 1
      freq 1
      pos 283
  term tempo
    doc 0
      freq 5
      pos 54
      pos 109
      pos 143
      pos 204
      pos 211
    doc 1
      freq 9
      pos 5
      pos 29
      pos 57
      pos 80
      pos 104
      pos 206
      pos 224
      pos 262
      pos 289
  term temporali
    doc 0
      freq 1
      pos 291
  term teoria
    doc 1
      freq 1
      pos 168
  term teorica
    doc 1
      freq 3
      pos 46
      pos 140
      pos 231
  term teorici
    doc 1
      freq 1
      pos 61
  term teorie
    doc 1
      freq 1
      pos 255
  term the
    doc 0
      freq 1
      pos 7
    doc 2
      freq 1
      pos 80
  term to
    doc 0
      freq 1
      pos 6
    doc 2
      freq 1
      pos 79
  term tornare
    doc 0
      freq 1
      pos 139
    doc 1
      freq 1
      pos 101
  term tradizionale
    doc 1
      freq 1
      pos 32
  term trama
    doc 0
      freq 1
      pos 46
  term trasformato
    doc 2
      freq 1
      pos 102
  term tuttavia
    doc 1
      freq 1
      pos 18
  term umorismo
    doc 0
      freq 1
      pos 278
  term uno
    doc 2
      freq 1
      pos 36
  term uscite
    doc 0
      freq 1
      pos 242
  term utilizzata
    doc 0
      freq 1
      pos 206
  term utilizzate
    doc 1
      freq 1
      pos 265
  term valore
    doc 2
      freq 1
      pos 241
  term velocità
    doc 1
      freq 1
      pos 188
  term vendita
    doc 2
      freq 1
      pos 90
  term versione
    doc 0
      freq 1
      pos 158
  term viaggiare
    doc 1
      freq 1
      pos 186
  term viaggio
    doc 0
      freq 2
      pos 52
      pos 209
    doc 1
      freq 14
      pos 3
      pos 27
      pos 55
      pos 78
      pos 86
      pos 92
      pos 135
      pos 142
      pos 147
      pos 164
      pos 176
      pos 216
      pos 222
      pos 260
  term vicessitudini
    doc 0
      freq 1
      pos 127
  term vicino
    doc 0
      freq 1
      pos 97
    doc 1
      freq 1
      pos 195
  term viene
    doc 1
      freq 1
      pos 36
  term vincere
    doc 2
      freq 1
      pos 156
  term vista
    doc 2
      freq 2
      pos 105
      pos 134
  term volta
    doc 0
      freq 1
      pos 35
    doc 2
      freq 1
      pos 138
  term yellow
    doc 2
      freq 2
      pos 280
      pos 328
  term york
    doc 2
      freq 1
      pos 232
  term zemeckis
    doc 0
      freq 2
      pos 18
      pos 23
field titolo
  term Le
    doc 2
      freq 1
      pos 0
  term Ritorno
    doc 0
      freq 1
      pos 0
  term StockX
    doc 2
      freq 1
      pos 7
  term Viaggi
    doc 1
      freq 1
      pos 0
  term al
    doc 0
      freq 1
      pos 1
    doc 1
      freq 1
      pos 3
  term andare
    doc 1
      freq 1
      pos 6
  term costose
    doc 2
      freq 1
      pos 3
  term di
    doc 2
      freq 1
      pos 4
  term futuro
    doc 0
      freq 1
      pos 2
    doc 1
      freq 1
      pos 8
  term nel
    doc 1
      freq 2
      pos 1
      pos 7
  term o
    doc 1
      freq 1
      pos 5
  term passato
    doc 1
      freq 1
      pos 4
  term più
    doc 2
      freq 1
      pos 2
  term sempre
    doc 2
      freq 1
      pos 5
  term sneakers
    doc 2
      freq 1
      pos 1
  term su
    doc 2
      freq 1
      pos 6
  term tempo-ritornare
    doc 1
      freq 1
      pos 2
END
checksum 00000000001331662586
table of contents, size: 4
  filename: _13.fld
    start: 23
    end: 6590
  filename: _13.inf
    start: 6613
    end: 7393
  filename: _13.len
    start: 7416
    end: 7584
  filename: _13.pst
    start: 7607
    end: 34099
table of contents begins at offset: 0000000000000034099
